<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ar</string>
    <key>CFBundleExecutable</key>
    <string>Spider</string>
    <key>CFBundleIdentifier</key>
    <string>com.aosaid.ipainstallerpro</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Spider</string>
    <key>CFBundleDisplayName</key>
    <string>Spider</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.3.6</string>
    <key>CFBundleVersion</key>
    <string>3.3.6</string>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.aosaid.ipainstallerpro.ipa</string>
            <key>UTTypeReferenceURL</key>
            <string>https://developer.apple.com/documentation/uniformtypeidentifiers</string>
            <key>UTTypeDescription</key>
            <string>iOS Application Archive</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.archive</string>
                <string>public.zip-archive</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>ipa</string>
                </array>
                <key>public.mime-type</key>
                <string>application/octet-stream</string>
            </dict>
        </dict>
    </array>
    <key>CFBundleIconName</key>
    <string>SpiderIcon</string>
    <key>CFBundleIconFiles</key>
    <array>
        <string>SpiderIcon.png</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array><string>SpiderIcon.png</string></array>
            <key>CFBundleIconName</key><string>SpiderIcon</string>
            <key>CFBundleIconIsPrerendered</key><true/>
        </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
</dict>
</plist>
