Package: com.aosaid.naverseriesbypass
Name: Naver Series Bypass
Version: 2.2.1
Architecture: iphoneos-arm64
Description: Advanced device ban bypass with Arabic UI & diagnostics for Naver Series. Supports iOS 16-18 Rootless.
Maintainer: aosaid
Author: aosaid
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, firmware (>= 16.0)
