Package: com.aosaid.ipainstallerpro
Name: Spider
Version: 3.3.9
Architecture: iphoneos-arm64
Icon: https://aosaid3224-ops.github.io/repo-dev/icon.png
Description: Spider official standalone IPA installer with analysis and signing orchestration using system primitives
Maintainer: aosaid <aosaid@proton.me>
Author: aosaid <aosaid@proton.me>
Section: Utilities
Depends: firmware (>= 15.0), com.aosaid.ipadecrypthelper, moe.misty.fouldecrypt
